* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: $min-site-width;
  font-family: $main-font;
  background-color: $white-color;
}

.page {

  &-container {
    display: flex;
    width: 100vw;
    min-width: $min-site-width;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: $blue-2-color;
  }

  &-title {
    color: $blue-3-color;
    font-size: calc(32px + 2vmax);
    font-weight: 400;
    text-transform: lowercase;
    margin-top: 5vmin;
  }

}