// Shades
$white-color: #FFFFFF;
$black-color: #000000;

// Colors
$blue-color: #212736;
$blue-2-color: #e2f0f9;
$blue-3-color: #4baae9;
$red-color: #db5e55;
$green-color: #3fa56f;
$yellow-color: #e0c647;

// Fonts
$main-font: 'Montserrat', sans-serif;

// Device breakpoint sizes
$min-site-width: 400px;
$max-site-width: 1750px;
$small-screen: 620px;
$medium-screen: 1250px;
$large-screen: 1530px;